/**
* Product List
**/

.agora-review-list{
    display:none;
}

.agora-note-list:hover .agora-review-list{
    padding: 0, 5px, 0, 5px;
    display:block;
    position:absolute;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
}

/**
* Product View
**/

.agora-product-view {
    margin-top: 80px;
    text-align: center;
}
.agora-product-view a:hover {
    text-decoration: none;
}
.seeAll{
    margin-bottom: 30px;
}
.arrow-down {
    width: 50px;
    height: 30px;
    margin: 0 auto;
}

.globalNote {
    position: relative;
    margin-bottom: 50px;
}
.note {
    margin-top: 30px;
}
.graph {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 250px;
    background: url("graph.svg") no-repeat left left;
    border: solid 1px;
}
.description {
    display: inline-block;
    width: 500px;
    height: 120px;
    padding-left: 35px;
    text-align: left;
}
.post {
    position: absolute;
    top: 285px;
    left: 43%;
    background-color: #666;
    color: #fff;
    width: 190px;
    height: 50px;
    border: none;
}

.vidComment, .photoComment {
    position: relative;
    margin-bottom: 30px;
}

.vidComment h2, .vidComment h2 {
    margin-bottom: 30px;
}

.vidComment .infos, .photoComment .infos {
    position: relative;
    left: 60px;
    text-align: left;
}
.vidComment .infos {
    height: 60px;
}
.badge {
    position: absolute;
    left: -60px;
    width: 50px;
    height: 50px;
}
.videoName {
    font-weight: bold;
}

.vidComment ul, .photoComment ul {
    display: inline-block;
    overflow: hidden;
}

.vidComment li, .photoComment li {
    float: left;
}
.vidComment li:not(:last-child), .photoComment li:not(:last-child) {
    margin-right: 20px;
}

.video, .photo {
    width: 250px;
    height: 150px;
}

.arrow-left-video, .arrow-left-photo {
    position: absolute;
    top: 60%;
    left: 0;
    width: 30px;
    height: 50px;
}
.arrow-right-video, .arrow-right-photo {
    position: absolute;
    top: 60%;
    right: 0;
    width: 30px;
    height: 50px;
}