/**
* Product List
**/

.agora-review-list{
    display:none;
}

.agora-note-list:hover .agora-review-list{
    padding: 0, 5px, 0, 5px;
    display:block;
    position:absolute;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
}

/**
* Product View
**/

.agora-product-view {
    text-align: center;
}

